package dto

import (
	"github.com/562589540/jono-gin/ghub/glibrary/gdto"
)

type {{.NameEnPas}}SearchReq struct {
	gdto.PaginateReq        //分页
}

type {{.NameEnPas}}UpdateReq struct {

}

type {{.NameEnPas}}AddReq struct {

}

type {{.NameEnPas}} struct {

}
