package router

import (
	"github.com/562589540/jono-gin/api/v1/{{.AppName}}"
	"github.com/562589540/jono-gin/ghub/glibrary/grouter"
	"github.com/562589540/jono-gin/internal/app/{{.AppName}}/logic/{{.NameEn}}"
	"github.com/gin-gonic/gin"
)

func (r *Router) Bind{{.NameEnPas}}Controller(_ *gin.RouterGroup, auth *gin.RouterGroup) {
	apiController := system.New{{.NameEnPas}}Api({{.NameEn}}.New())
	protectedRouter := auth.Group("{{.NameEn}}")
	{
		protectedRouter.POST("add", grouter.HandlerFunc(apiController.Create))
		protectedRouter.DELETE("delete", grouter.HandlerFunc(apiController.Delete))
		protectedRouter.PUT("update", grouter.HandlerFunc(apiController.Update))
		protectedRouter.GET("list", grouter.HandlerFunc(apiController.List))
	}
}
